* {
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;   
}

container{
    background: linear-gradient(90deg, rgba(255,95,0,1) 0%, rgba(255,248,0,1) 49%, rgba(255,115,6,1) 100%);
    
}
.card text-center{
    background: linear-gradient(90deg, rgba(255,95,0,1) 0%, rgba(255,248,0,1) 49%, rgba(255,115,6,1) 100%);
}